
<label for="inFooter">
	<f:translate key="tx_cookiedataprivacy_domain_model_privacyconfig.in_footer" />
</label><br />
	<f:form.checkbox property="inFooter" value="1" /><br />
<label for="jsScript">
	<f:translate key="tx_cookiedataprivacy_domain_model_privacyconfig.js_script" />
</label><br />
	<f:form.textarea property="jsScript" cols="40" rows="15" /><br />
<label for="enableFormPrivacy">
	<f:translate key="tx_cookiedataprivacy_domain_model_privacyconfig.enable_form_privacy" />
</label><br />
	<f:form.checkbox property="enableFormPrivacy" value="1" /><br />
<label for="position">
	<f:translate key="tx_cookiedataprivacy_domain_model_privacyconfig.position" />
</label><br />
	<f:form.textfield property="position" /><br />
<label for="popupBackground">
	<f:translate key="tx_cookiedataprivacy_domain_model_privacyconfig.popup_background" />
</label><br />
	<f:form.textfield property="popupBackground" /><br />
<label for="buttonBackground">
	<f:translate key="tx_cookiedataprivacy_domain_model_privacyconfig.button_background" />
</label><br />
	<f:form.textfield property="buttonBackground" /><br />
<label for="domain">
	<f:translate key="tx_cookiedataprivacy_domain_model_privacyconfig.domain" />
</label><br />
	<f:form.textfield property="domain" /><br />
<label for="expiryDay">
	<f:translate key="tx_cookiedataprivacy_domain_model_privacyconfig.expiry_day" />
</label><br />
	<f:form.textfield property="expiryDay" /><br />
<label for="cookiePageUid">
	<f:translate key="tx_cookiedataprivacy_domain_model_privacyconfig.cookie_page_uid" />
</label><br />
	<f:form.textfield property="cookiePageUid" /><br />
<label for="dataPrivacyPageUid">
	<f:translate key="tx_cookiedataprivacy_domain_model_privacyconfig.data_privacy_page_uid" />
</label><br />
	<f:form.textfield property="dataPrivacyPageUid" /><br />